@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Allura&display=swap');
/*************************** Body, contenedor y scrollbar ***************************/

body {
  margin: 0;
}

#root {
  overflow-x: hidden;
}

.content {
  padding-top: 60px;
  padding-bottom: 60px !important;
}

* {
  margin: 0px;
  padding: 0px;
}

.backdrop {
  z-index: 9999999999999999 !important;
}

button {
  font-family: 'Roboto', sans-serif;
}

button:focus {
  outline: 0 !important;
}

.normalbuttons {
  font-size: 1em !important;
  margin-left: 10px;
  outline: 0;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background: linear-gradient(45deg, #0069a7, #79ff6c);
  border-radius: 3px;
}

#wrapper {
  width: 100%;
  margin: auto;
}

.divider {
  margin-top: 30px !important;
}

svg:hover {
  color: black !important;
}

/*************************** Menu Header ***************************/

.contraseña-olvidada:hover {
  cursor: pointer;
}

.divider-phone {
  display: none;
}

header {
  position: fixed;
  z-index: 99;
  width: 100%;
}

.logo-menu {
  width: 100px;
  display: block;
  margin: auto;
}

.logo-menu:hover {
  cursor: pointer;
}

.button-login-container {
  display: flex;
}

.button-login-container button {
  margin-right: 10px;
}

.container-form-login {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.container-form-login button {
  margin: 20px auto;
  width: 66%;
  outline: 0;
}

.cuestions-form-regis {
  margin-top: 17px;
  margin-bottom: -3px;
}

.date-input {
  padding-left: 35px;
  padding-top: 18px;
  padding-bottom: 5px;
}

.button-regis-login p {
  margin-top: 20px;
}

.button-regis-login button {
  width: 100%;
  margin-top: 5px;
}

.divider {
  width: 100%;
  margin: auto;
  padding: 1px;
  background-color: #DADCE0;
}

.MuiToolbar-root.MuiToolbar-regular.MuiToolbar-gutters {
  display: flex;
  justify-content: space-between;
  background-color: white/*#1976d2*/
  ;
  color: black;
}

.link-menu-extra-options {
  text-decoration: none;
  color: black;
}

.link-menu-extra-options:hover {
  text-decoration: none;
}

/*************************** Carousel ***************************/

.title-slider-h3 {
  font-size: 4rem;
}

.background-slider-text {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

.background-slider-text h3 {
  font-size: 3rem;
}

.carousel.slide {
  height: 95vh;
  overflow: hidden;
}

.active.carousel-item {
  height: 95vh;
}

.carousel.slide img {
  object-fit: cover;
  height: 95vh;
  overflow: hidden;
}

.Caption-1 {
  bottom: 410px !important;
}

.Caption-2 {
  bottom: 410px !important;
}

/*************************** Content ***************************/

.info-plataforma {
  width: 50%;
  margin: 20px auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 20px;
  text-align: center;
}

.info-plataforma p {
  font-weight: bold;
}

.border-info {
  background-color: black;
  padding: 40px 1px;
}

.conatiner-artists-home {
  width: 60%;
  margin: auto;
  text-align: center;
  padding: 20px;
}

.MuiAvatar-root.MuiAvatar-circle {
  width: 200px;
  height: 200px;
  transition: 0.3s all;
  opacity: 0.6;
}

.MuiAvatar-root.MuiAvatar-circle:hover {
  opacity: 1;
  cursor: pointer;
}

.avatars {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}

.container-avatar-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container-avatar-text h5 {
  margin-top: 8px;
  font-weight: bold;
}

.conatiner-responsive-home {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
}

.conatiner-responsive-home div {
  width: 50%;
}

.conatiner-responsive-home img {
  width: 100%;
}

.conatiner-responsive-home h2 {
  text-align: center;
  font-size: 4em;
}

.aling-text-elvis {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  background-color: black;
  color: white;
  padding: 0px 57px;
  align-items: center;
}

.aling-text-elvis h2 {
  font-size: 3em;
  text-align: center;
}

.aling-text-elvis h3 {
  margin: 10px 0px;
  font-family: 'Allura', cursive;
  font-size: 3rem;
  text-align: center;
}

.conatiner-loginregis-home {
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding: 76px 0px 24px 76px;
}

.conatiner-loginregis-home h2 {
  font-size: 3rem;
  text-align: center;
}

.conatiner-loginregis-home div {
  width: 60%;
  margin: auto;
}

.buttons-home-login {
  width: 100%;
}

.button-login-container {
  display: flex;
  justify-content: space-around;
}

.button-login-container button {
  width: 100%;
  margin: 20px 0px;
  font-size: 2em;
}

#alert-error-login {
  display: none;
}

#alert-error-regis {
  display: none;
}

#alert-newuser-regis {
  display: none;
}

#alert-error-reset {
  display: none;
}

#alert-newuser-reset {
  display: none;
}

#alert-changefoto {
  display: none;
}

#alert-changeusername {
  display: none;
}

#alert-changeemail {
  display: none;
}

/************************** Content Login***********************/

.estilo-inicio {
  width: 80%;
  margin: auto;
  margin-top: 30px;
  padding: 30px;
}

.lista-inicio-best {
  padding: 40px;
}

#songs-style-home {
  width: 80% !important;
  display: flex;
  margin: auto;
  height: 260px !important;
}

#artists-style-home {
  width: 80% !important;
  display: flex;
  margin: auto;
  height: 260px !important;
}

.button-songs {
  color: white;
  background-color: #66bb6a;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  opacity: 0.8;
}

.button-songs-delete {
  color: white;
  background-color: red;
  padding: 6px 16px;
  font-size: 0.875rem;
  min-width: 64px;
  box-sizing: border-box;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-weight: 500;
  line-height: 1.75;
  border-radius: 4px;
  letter-spacing: 0.02857em;
  text-transform: uppercase;
  border: 0;
  opacity: 0.8;
}

.button-songs:hover {
  opacity: 1;
}

/************************** Buscador **************************/

.style-searcher-content {
  height: 0vh;
  transition: 0.3s all;
}

.style-searcher-content-selected {
  height: 100vh;
  background-color: white;
  transition: 0.3s all;
  padding: 30px;
  overflow: hidden;
}

.data-buscador-container {
  width: 80%;
  margin: auto;
}

#form-buscador {
  display: none;
}

.icons-searcher {
  display: flex;
  justify-content: center;
}

/*Grids*/

.container-grids-songs {
  display: flex;
  height: 250px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container-grids-artists {
  display: flex;
  height: 250px;
  flex-wrap: wrap;
  justify-content: space-between;
}

.gridlist {
  flex-wrap: nowrap;
  transform: translateZ(0);
}

#canciones {
  display: flex;
  width: 100%;
}

.div-contenedor-resultados {
  text-align: center;
  margin-right: 20px;
}

.div-contenedor-resultados:hover {
  cursor: pointer;
}

.foto-contenedor-resultados {
  width: 150px;
  height: 150px;
  border-radius: 10%;
  transition: 0.3s all;
}

.foto-contenedor-resultados:hover {
  transition: 0.3s all;
  opacity: 0.8;
}

.div-contenedor-resultados span {
  font-weight: bold;
}

.div-contenedor-resultados p {
  margin-bottom: 0px;
}

/*************************** UploadFile ***************************/

.titulo-upload-file {
  padding-top: 75px;
  text-align: center;
}

.first-uploadfile {
  position: absolute;
  top: 130px !important;
  left: 300px !important;
  right: 300px !important;
  border: 1px solid grey;
  border-radius: 15px;
  padding: 65px;
  display: flex;
  justify-content: space-around;
}

.upload-files-part {
  width: 45%;
}

.form-uploadfiles {
  width: 45%;
  display: flex;
  align-items: unsafe;
  flex-direction: column;
}

/*************************** Perfil ***************************/

.profile-style-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;
}

.container-subs-counter {
  margin-top: 20px;
}

.hideInput {
  display: none;
}

#songs-container-author {
  width: 80% !important;
  display: flex;
  margin: auto;
  height: 280px !important;
}

.div-cancion-unica {
  width: 150px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

.div-cancion-unica:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.caratula-preview-perfil {
  width: 150px !important;
}

/**************************Configuracion***********************/

.container-form-conf {
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.button-space {
  margin-bottom: 10px !important;
  margin-bottom: 10px !important;
}

.img-config-old-profile {
  width: 150px;
  height: 150px;
  border-radius: 100%;
}

.conf-container {
  width: 80%;
  margin: auto;
  border: 1px solid silver;
}

.conf-container h1 {
  text-align: center;
  padding-top: 20px;
}

.container-options {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.container-option-div {
  width: 50%;
  padding: 30px;
}

.container-option-div h3 {
  text-align: center;
  margin-bottom: 20px;
}

.container-option-div p {
  color: grey;
  text-align: center;
}

.forms-options {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.input-password-changes {
  margin: 5px 0px 10px 0px !important;
}

.button-submit-options {
  margin-top: 20px !important;
}

.select-option-musicstyle {
  width: 100% !important;
}

.option-check-container {
  margin-bottom: 15px;
  text-align: center;
}

.input-mail-newsletter-options {
  margin-bottom: 10px !important;
  margin-left: 5px !important;
}

.divider-options-conf {
  padding-left: 1px;
  padding-bottom: 400px;
}

.bold-gen-style {
  color: black;
  font-weight: bold;
}

#alert-updatestyle-regis {
  width: 100%;
  display: none;
  margin-top: 10px;
}

#alert-errorstyle-regis {
  width: 100%;
  margin-top: 10px;
  display: none;
}

#alert-updatepass-regis {
  width: 100%;
  display: none;
  margin-top: 10px;
}

#alert-errorpass-regis {
  width: 100%;
  margin-top: 10px;
  display: none;
}

#alert-erroroldpass-regis {
  width: 100%;
  margin-top: 10px;
  display: none;
}

/************************* Cancion *****************************/

.divider-options-song {
  padding-left: 1px;
  padding-bottom: 200px;
}

.song-style-container {
  width: 80%;
  margin: 30px auto;
  display: flex;
  justify-content: space-around;
  text-align: center;
}

.titulo-cancion-detalles {
  font-weight: bold;
  font-style: italic;
  margin-top: 10px;
  text-decoration: underline;
}

.container-comentarios {
  width: 80%;
  margin: auto;
}

.container-comentarios h1 {
  text-align: center;
}

.avatar-coments {
  width: 50px !important;
  height: 50px !important;
  margin-right: 30px;
}

.textarea-comentarios {
  width: 100%;
  padding: 10px;
}

.subir-comentario {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 15px;
}

.button-upload-comment {
  margin: 10px !important;
}

.no-comments-songs {
  text-align: center;
}

/************************* Reproductor *************************/

.reproductor-div-static {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 80px;
  width: 100%;
  background-color: white;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 999999999;
}

.reproductor-div-static audio {
  width: 70% !important;
}

.reproductor-div-static audio:focus {
  outline: 0;
}

.caratula-preview-reproductor {
  width: 70px;
  margin-right: 20px;
}

.data-song-rep {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.data-song-rep p {
  margin-bottom: 0px;
}

.titulo-reproductor {
  font-weight: bold;
  font-style: italic;
  font-size: 1.5em;
}

.artista-reproductor {
  font-weight: bold;
  font-style: italic;
}

.remove-song-reproductor {
  transition: 0.3s all;
  color: black !important;
}

.remove-song-reproductor:hover {
  transition: 0.3s all;
  color: red !important;
  cursor: pointer;
}

.remove-song-reproductor {
  display: none;
}

.buttons-show-repro {
  display: none;
}

/************************** Politicas *************************/

.titulo-politicas {
  text-align: center;
  padding-top: 20px;
}

.container-text-politicas {
  width: 80%;
  margin: 30px auto;
}

/*************************** Footer ***************************/

footer {
  width: 100%;
  margin: auto;
  border-top: 1px solid black;
}

.footer-container {
  width: 80%;
  margin: auto;
  text-align: center;
}

.footer-container p {
  margin-top: 13px;
}

.footer-style {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: start;
  margin-bottom: 80px;
  background-color: #363839;
}

.footer-container-style {
  display: flex;
  flex-direction: column;
  justify-content: start;
  margin: auto;
  padding: 15px;
}

.footer-container-style span {
  font-weight: bold;
}

.footer-container-style ol {
  list-style: none;
}

.footer-container-style li {
  margin: 10px 0px 10px 0px !important;
  opacity: 0.5;
  transition: 0.3s all;
}

.footer-container-style li:hover {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s all;
  list-style: circle;
}

.footer-container-style a {
  color: white;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s all;
}

.footer-container-style a:hover {
  color: white;
  cursor: pointer;
  opacity: 1;
  text-decoration: none;
  transition: 0.3s all;
}

/*************************** Mobile ***************************/

@media only screen and (max-width: 1024px) {
  /*************************** Home ***************************/
  /*Menu*/
  .mobile-display-register {
    display: none !important;
  }
  .hide-button-mobile {
    display: none !important;
  }
  /*Carousel*/
  .carousel img {
    height: 35vh;
  }
  .carousel.slide img {
    object-fit: cover;
    height: 100vh !important;
  }
  .carousel.slide {
    height: 100vh !important;
    overflow: hidden;
    margin-top: 0px !important;
  }
  .Caption-1 {
    bottom: 200px !important;
  }
  .Caption-2 {
    bottom: 281px !important;
  }
  .carousel-caption h3 {
    font-size: 3em;
  }
  /*content*/
  .divider-phone {
    display: block;
  }
  .info-plataforma {
    flex-direction: column;
  }
  .border-info {
    padding: 1px 90px;
  }
  .conatiner-artists-home {
    width: 100% !important;
  }
  .conatiner-responsive-home {
    flex-direction: column;
  }
  .conatiner-responsive-home h2 {
    font-size: 2em;
  }
  .conatiner-responsive-home div {
    width: 100%;
  }
  .conatiner-loginregis-home {
    width: 100%;
    margin: auto;
    padding: 20px 74px;
  }
  .conatiner-loginregis-home h2 {
    font-size: 2rem;
    text-align: center;
  }
  .conatiner-loginregis-home div {
    width: 100%;
    margin: auto;
  }
  .estilo-inicio {
    width: 100%;
  }
  #songs-style-home {
    width: 95% !important;
    display: flex;
    margin: auto;
    height: 270px !important;
  }
  .titulo-cancion-detalles {
    margin-top: 20px;
  }
  /****************** UploadFiles ********************/
  .mobile-first-uploadfile {
    top: 130px !important;
    left: 15px !important;
    right: 15px !important;
    border: 1px solid grey;
    display: block;
    padding: 65px;
    position: absolute;
    border-radius: 15px;
    margin-bottom: 100px;
  }
  .upload-files-part {
    width: 100% !important;
  }
  .form-uploadfiles {
    width: 100% !important;
  }
  .caratula-preview-reproductor {
    width: 70px;
    margin-right: 20px;
  }
  /****************** Reproductor ********************/
  .reproductor-div-static {
    flex-direction: row;
    border-top: 0.5px solid black;
  }
  .data-song-rep {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .titulo-reproductor {
    font-weight: bold;
    font-style: italic;
  }
  .artista-reproductor {
    font-weight: bold;
    font-style: italic;
  }
  .caratula-preview-reproductor {
    margin-left: 10px;
  }
  .caratula-preview-reproductor:hover {
    cursor: pointer;
  }
  .titulo-reproductor {
    display: none;
  }
  .remove-song-reproductor {
    display: none;
  }
  .genero-reproductor {
    display: none;
  }
  .artista-reproductor {
    display: none;
  }
  /****************** Perfil ********************/
  .song-style-container {
    flex-direction: column;
    text-align: center;
  }
  /*****************Configuracion*****************/
  .forms-options {
    padding: 10px;
  }
  .container-options {
    flex-direction: column;
  }
  .divider-phone-conf {
    padding-bottom: 1px !important;
  }
  .container-option-div {
    width: 100%;
  }
  /*****************Perifl externo*****************/
  .profile-style-container {
    width: 100%;
  }
  /*****************Comentarios*****************/
  .comment-listitem {
    display: flex;
    flex-direction: column;
  }
  .text-aling-mobile {
    word-wrap: break-word;
    width: 300px;
    text-align: justify;
  }
  /****************** Footer ********************/
  .footer-style {
    flex-direction: column;
  }
}

/*************************** Tablet ***************************/

@media only screen and (max-width: 1024px) {
  /* Artistas */
  .avatars {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}